!!!
%html{"ng-app" => "Hotlynx"}
  %head
    %title= t(:site_title)
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %link{ href: "http://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css" }
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    / Header
    %header
      .logo= link_to image_tag('red-flame.png'), root_path
      .title= t(:site_title)

    / Messages
    .row
      .twelve.columns.messages
        - flash.each do |name, msg|
          %div{class: "alert-box #{name}"}
            = msg
            %a.close{:href => ""} &times;

    / Body
    .row
      .twelve.columns
        = yield

    / Footer
    %footer
      %h5.subheader &copy; 2013 John van Arkelen

    /[if lt IE 9]
      %script{ src: "http://html5shim.googlecode.com/svn/trunk/html5.js", :type => "text/javascript" }
    = javascript_include_tag "application"
